* {
    box-sizing: border-box;
}

section {
    width: 70vw;
    margin: 0 auto;
}

.dogResults {
    width: 70vw;
    margin: 0 auto;
    display:flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

input {
    font-size: 2em;
    line-height: 2em;
    width: 8em;
    border: 2px solid teal;
    text-align: center;
}

.dogNumberButton {
    width: 6em;
    line-height: 2em;
    background-color: aquamarine;
}

p {
    font-size: 1em;
}

h1, h2, p, form {
    text-align: center;
}

.dogResult {
    width: 20vw;
    text-align: center;
}

.dogImage {
    max-width: 20vw;
    max-height: 10vw;
    margin: 1vw 2vw;
}
.dogName {
    line-height: 1.5em;
    text-align: center;
    font-family: sans-serif;
    word-break: break-all;
}

.dogError {
    line-height: 1.5em;
    text-align: center;
    font-family: sans-serif;
}